Source: postmarketos-wiki-doc
Section: misc
Priority: optional
Maintainer: Antoni Aloy Torrens <aaloytorrens@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: postmarketos-wiki-doc
Architecture: all
Description: PostmarketOS Wiki for offline use
 Browse the PostmarketOS Wiki offline
